<!-- <div class="row">
  <div class="col-md-3">
    <p-floatLabel>
      <input pInputText id="bookName" [(ngModel)]="value" />
      <label for="bookName">Nome do Livro</label>
    </p-floatLabel>
  </div>
  <div class="col-md-5">
    <input type="text" pInputText [(ngModel)]="valor1" />
  </div>
</div> -->
<form> 
    <div class="d-flex justify-content-center align-items-center">
      <div class="container">
        <div class="row" >
          <div class="col-md-3">
            <p-floatLabel>
              <input pInputText id="bookName" [(ngModel)]="value" [ngModelOptions]="{standalone: true}" />
              <label for="bookName">Nome do Livro</label>
            </p-floatLabel>
            
          </div>
          <div class="col-md-3">
            <input type="text" pInputText [(ngModel)]="valor1" [ngModelOptions]="{standalone: true}" />
          </div>
        </div>
      </div>
    </div>
</form>